# Bytecode
__pycache__/
*.py[cod]
*.so
**/__pycache__/
**/*.ipynb

# Jupyter
*.ipynb


# Umgebungen & Tools
.env
.venv/
env/
venv/

# System-Dateien
.DS_Store
Thumbs.db

# RunPod / temporäres Zeug
/workspace/tmp/
workspace/tmp/
*.pid

# Models & große Files (wenn du willst)
weights/
*.safetensors

# VSCode & IDEs
.vscode/
.idea/

# Git
.git
.gitkeep
wheel_flashattn/*.whl


*.mp4
*.png
*.jpg



.cache/
models/
LTX-2/
Z-Image/
*.png
*.safetensors
*.bin
init_download.log